.signUp {
    background: url("https://img.freepik.com/free-vector/paper-style-3d-clouds-background-blue-sky_1017-38298.jpg?w=2000");
    background-size: cover;
    flex: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
    margin-top: 5px;
}

.form h1{
    justify-content: center;
    font-weight: 400;
}

.form label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 1px;
}

.form input {
    width: 97%;
    height: 28px;
    border-radius: 3px;
    outline: none;
    border:1px solid #a6a6a6;
    margin-bottom: 10px;
    margin-top: 3px;
}

.form .btn {
    margin-top: 18px;
    margin-bottom: 23px;
    width: 100%;
    background: #78e1f3;
    cursor: pointer;
    border:1px solid #9c7e31;
    height: 40px;
    outline: none;
    border-radius: 3px;
    color: #111;
    background: linear-gradient(to bottom,#a9f7a5,#4bf07f)
}

.form1{
    margin-top: 10px;
    font-size: 17px;
}

