.main{
    height: 100vh;
}

.weather{
    background: url("https://wallpaperaccess.com/full/1540001.jpg");
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    color: white;
}

.box3{
    padding-left: 5%;
    padding-top: 5px;
}

/* .btn4{
    background-color: rgb(0, 145, 255);
    border-radius: 5px;
    margin-left: 10px;
    width: 150px;
} */

.btn2{
    background-color: rgb(0, 145, 255);
    color: black;
    border-radius: 5px;
    width: 50%;
}

.btn2:hover {
    color: red;
    background-color: whitesmoke;
}

.box4{
    margin-left: 40%;
    width: 20vw;
    height: 60vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: #a5bbdd;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 25rem;
    /* min-height: 35rem; */
}    

.location {
    margin-top:5.5rem;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    font-weight: 600;
}

.temp {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

.pressure {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: royalblue;
}

@media (max-width: 600px) {
    .weather{
        width: 90vw;
        height: 80vh;
    }
    .box4 {
        height: 50vh;
        flex-direction: column;
    }
}