img{
    width: 5%;
    object-fit: cover;
    padding-left: -10rem;
}

.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
    position: fixed;
    width: 100%;
    background-color: white;
}

ul{
    display: flex;
}

li{
    list-style: none;
    padding: 1px 15px;
    cursor: pointer;
}